body {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: "Roboto", "Helvetica", sans-serif;
	color: #000;
	line-height: 24px;
	padding: 0;
	margin: 0;
	min-width: 1200px;
}

.title-text {
	font-size: 55px;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto", "Helvetica", sans-serif;
	color: rgb (0, 0, 0);
	line-height: 55px;
}

.main-header {
	background-color: rgb(238, 238, 238);
}

.container {
	width: 1160px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.heder-logo {
	float: left;
	width: 160px;
	margin-right: 203px;
	margin-top: 49px;
}

.heder-logo:hover {
	opacity: 0.8;
}

.heder-logo:active {
	opacity: 0.3;
}

.main-navigation {
	float: left;
	width: 440px;
	margin-top: 78px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	min-width: 550px;
}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
	font-weight: 500;
}

.main-navigation a {
	display: block;
	text-decoration: none; 
	text-transform: uppercase;
	color: #000;
}

.main-navigation a {
	padding-right: 48px;
}

.main-navigation li:nth-child(1) a { 
	padding-right: 45px;
}
.main-navigation li:nth-child(3) a { 
	padding-right: 45px;
}

.main-navigation .active {
	position: relative;
	text-transform: uppercase;
	color: #000000;
}

.main-navigation .active::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #fb565a;
	top: 30px;
	right: 45px;
  	bottom: 0;
  	left: 0;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: rgba(0,0,0,0.3);
}

.basket {
	float: right;
	max-width: 115px;
	margin-top: 78px;
	padding-left: 41px;
	background-image: url(../img/sprite-icons.png);
	background-position: -406px -27px;
    background-repeat: no-repeat;
    display: block;
	text-decoration: none; 
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
}

.basket:hover {
	 color: #fb565a;
}

.basket:active {
	color: rgba(0,0,0,0.3);
}

.slider-wrap {
	background-color: rgb(238, 238, 238);
	margin-bottom: 80px;
}

.slider {
	position: relative;
	background-color: rgb(238, 238, 238);
	height: 424px;
	width: 1160px;
	margin:0 auto;
}

.slider input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.slider-controls {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 95px;
	z-index: 1000;
	width: 200px;
	height: 18px;
	text-align: center;
}

.slider-controls label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 8px;
	height: 8px;
	margin: 0 7px;
	background: white;
	border: 5px solid white;
	border-radius: 50%;
	cursor:pointer;
}



#btn-1:checked ~ label::before {
	display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	display:;.slider-controls label::before {
	display: none;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 4px;
    border: 2px solid #b8b8b8;
    border-radius: 50%;
}
}

.slide {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text {
	padding-top: 70px;
	width: 513px;
	height: 271px;
}

.slider-title {
	padding-top: 71px;
	font-size: 55px;
	font-weight: 400;
	font-family: "Roboto", "Helvetica", sans-serif;
	color: #000000;
	line-height: 55px;
	margin-top: 80px;
	white-space: pre;
	font-weight: 500;
}

.slider-paragraph{
	padding-top: 11px;
	white-space: pre;
	margin-bottom: 39px;
}

.slide{
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.slide:nth-child(1) {
	background-image: url("../img/slide1.png");
    background-repeat:no-repeat;
    background-position: 431px 11px;
}

.slide:nth-child(2) {
	background-image: url("../img/slide2.png");
    background-repeat:no-repeat;
    background-position: 431px 11px;
}

.slide:nth-child(3) {
	background-image: url("../img/slide3.png");
    background-repeat:no-repeat;
    background-position: 431px 11px;
}

.btn-readmore {
	display: block;
	width: 240px;
	text-align: center;
	margin-top: 20px;
	padding: 13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
}

.btn-readmore:hover {
	background-color: #e74246;
}

.btn-readmore:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.advantages-wrap {
	margin-bottom: 80px;
}

.advantage {
	position:relative;
	float: left;
	width: 300px;
	margin-right: 100px;
	padding-top: 150px;
}

.advantage:nth-child(1) {
	background-image: url("../img/advantages-1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantage:nth-child(2) {
	background-image: url("../img/advantages-2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantage:nth-child(3) {
	background-image: url("../img/advantages-3.png");
    background-repeat: no-repeat;
    background-position: 0 0;
	margin-right: 0;
}

.advantages-title {
	margin-bottom: 20px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
}

.advantages-paragraph {
	color: #283136;
	white-space: pre;
}

.btn-order-web {
	display: block;                     
	width: 160px;
	text-align: center;
	margin-top: 31px;
	padding:13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
}

.btn-order-web:hover {
	background-color: #e74246;
}

.btn-order-web:active{
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.btn-order-app {
	display: block;
	width: 160px;
	text-align:center;
	margin-top: 31px;
	padding:13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #00ca74;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
}

.btn-order-app:hover {
	background-color: #00bc6c;
}

.btn-order-app:active {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.btn-order-presentation {
	display: block;
	width: 160px;
	text-align:center;
	margin-top: 31px;
	padding:13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #efc84a;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
}

.btn-order-presentation:hover {
	background-color: #eab534;
}

.btn-order-presentation:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.about-us-wrap {
	margin-bottom: 38px;
}

.about-us {
	display: inline-block;
	border-top: 2px solid #eee;
}

.about-us-left {
	padding-top: 75px;
	float: left;
	width: 660px;
}

.about-us-title {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	margin: 0;
}

.about-us-paragraph {
	margin: 0;
    padding-top: 34px;
}

.about-us-second-title {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 7px;
}

.about-us-list{
	margin: 15px 0;
	padding: 0;
	list-style: none;
}

.about-us-list li {
	position: relative;
	margin-bottom: 25px;
	padding-left: 35px;
}

.about-us-list li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 11px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;

}

.about-us-right {
	padding-top: 245px;
	margin-top: 40px;
	margin-left: 140px;
	float: right;
	width: 360px;
	background-image: url("../img/statistics-illustration.png");
	background-repeat: no-repeat;
    background-position: 0 2px;
}

.statistics {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}
.statistics caption{
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 44px;
}

.table-number {
	font-size: 45px;
	font-weight: 700;
	line-height: 10,06px;
	padding: 0px;
    padding-right: 20px;
}

.table-number:nth-child(2) {
	padding-left: 2px;
}

.table-number:nth-child(3) {
	padding-left:3px;
}

.table-cent {
	vertical-align: super;
	font-size: 26px;
}

.table-text {
	line-height: 18px;
	padding-top: 28px;
}

.client-photos-wrap {
	min-width: 190px;
	margin-bottom: 73px;
}

.client-photos {
	display: inline-block;
	min-width: 184px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding-bottom: 37px;
}

.img-client-1 {
	float: left;
	padding-right: 90px;
	padding-top: 62px;
    padding-left: 30px;
}

.img-client-1::before {
	content: "";
    border-right: 2px solid #eee;
    height: 53px;
    position: absolute;
    left: 299px;
    top: 64px;
}

.img-client-2 {
	float: left;
	padding-right: 90px;
	padding-top: 46px;
	padding-left: 5px;
}

.img-client-2::before {
	content: "";
    border-right: 2px solid #eee;
    height: 53px;
    position: absolute;
    left: 599px;
    top: 64px;
}

.img-client-3 {
	float: left;
	padding-right: 90px;
	padding-top: 65px;
	padding-left: 14px;
}

.img-client-3::before {
	content: "";
    border-right: 2px solid #eee;
    height: 53px;
    position: absolute;
    left: 899px;
    top: 64px;
}

.img-client-4 {
	float: left;
	padding-top: 52px;
	padding-left: 30px;
	padding-right: 43px;
}

.img-client-photo-1 {
	float: left;
	margin-left: 31px;
	margin-right: 96px;
}

.client-photos a { 
	opacity: 0.2;
}

.client-photos a:hover {   
}

.client-photos a:active {
	opacity: 0.1;
}

.img-client-photo-2 {
	float: left;
	margin-right: 90px;
}

.img-client-photo-3 {
	float: left;
	margin-right: 78px;
}

.img-client-photo-4 {
	float: right;
	margin-right: 43px;
}

.contacts {
	height: 418px;
	margin-bottom: 65px;
}

.map {
	width: 100%;
	height: 420px;
	background-image: url("../img/map 1.png");
	background-size: cover;
	padding-top: 54px;
	box-sizing: border-box;
	background-position: center;
}
.contacts-info {
	width: 319px;
	height: 308px;
	background-image: url("../img/white back.png");
}

.contacts-text {
	padding-left: 51px;
	padding-top: 50px;
	color: #666666;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 22px;
}

.contacts-address {
	line-height: 18px;
	color: #666666;
	white-space: pre;
	margin-bottom: 18px;
}

.contacts-phone {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-bottom: 37px;
}

.btn-contacts {
	display: block;
	width: 219px;
	text-align:center;
	margin-top: 20px;
	padding:13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
}

.btn-contacts:hover {
	background-color: #e74246;
}

.btn-contacts:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}


.main-footer {
	margin-bottom: 70px;
}

.container{
	position: relative;
}

.social-icons {
	float: left;
}

.main-footer-info {
	float: right;
	margin-right: 218px;
	margin-top: 7px;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	margin-right: 0;
    border: 0;
	border-radius: 50%;
	margin-right: 8px;
	background-color: #bdc3c7;
	position: relative;
}

.social:hover {
	background-color: #e74246;
}

.social:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.social:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite-icons.png");
	background-repeat: no-repeat;
}
.social-vk:before {
    width: 26px;
    height: 15px;
    background-position: -326px -27px;
}

.social-fb:before {
    width: 12px;
    height: 22px;
    background-position: -185px -27px;
}

.social-in:before {
    width: 21px;
    height: 21px;
    background-position: -251px -27px;
}

.footer-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.footer-paragraph{
	margin-top: 10px;
}

.modal-write-to-us{
	display: none;
	z-index: 1000;
	position: absolute;
	top: 1706px;
	left: 50%;
	width: 760px;
	margin-left: -480px;
	padding-top: 67px;
	padding-bottom: 84px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px 8px rgba( 0,0,0,0.75);
}

.modal-write-to-us-close {
	position: absolute;
	top: 78px;
	left: 849px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: white;
	border: 0;
	cursor: pointer;
}

.modal-write-to-us-close::before,
.modal-write-to-us-close::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -3px;
	width: 27px;
	height: 5px;
	background-color: #fecccd;
}

.modal-write-to-us-close::before {
	transform: rotate(45deg);
}

.modal-write-to-us-close::after {
	transform: rotate(-45deg);
}

.modal-write-to-us-close:hover::before,
.modal-write-to-us-close:hover::after {
	background-color: #fb565a;
}

.modal-write-to-us-close:active::before,
.modal-write-to-us-close:active::after {
	background-color: #ffeeee;
}

.modal-write-to-us h2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 45px;
	margin: 0;
	margin-bottom: 41px;
	font-weight: 500;
}

.modal-write-to-us p {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin: 0;
	margin-bottom: 9px;
}

.modal-write-to-us-form input[type="text"],
.modal-write-to-us-form input[type="email"] {
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	font-family: "Roboto", "Helvetica", "sans-serif";
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.modal-write-to-us-form input[type="text"]:hover {
	border-color: #b4b9bb;
}

.modal-write-to-us-form input[type="email"]:hover {
	border-color: #b4b9bb;
}

.modal-write-to-us-form input[type="text"]:active {
	border-color: #000000;
}

.modal-write-to-us-form input[type="email"]:active {
	border-color: #000000;
}

.modal-write-to-us-form input[type="text"]:invalid {
	border-color: #e74246;
	color: #e74246;
}

.modal-write-to-us-form input[type="email"]:invalid {
	border-color: #e74246;
	color: #e74246;
}

.input-name {
	float: left;
	margin-right: 40px;
	margin-bottom: 34px;
}

.input-email {
	float: right;
	float: left;
}

.user-letter {
	float: left;
	width: 728px;
}

.input-name input {
	padding: 14px;
	width: 328px;
}

.input-email input {
	padding: 14px;
	width: 328px;
}

.user-letter input {
	width: 100%;

	margin-bottom: 47px;
	padding: 14px;
	padding-bottom: 82px;	
}

.btn-write-to-us {
	width: 260px;
	padding: 16px 80px;
	background-color: #fb565a;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
	font-weight: 500;
}

.btn-write-to-us:hover {
	background-color: #e74246;
}

.btn-write-to-us:active {
	color: rgba( 255,255,255,0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.shop-title {
	padding-top: 190px;
    text-align: center;
    margin-bottom: 110px;
}

.heder-text {
	display: inline-block;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.main-catalog {
	margin-top: 55px;
}

.side-bar {
	float: left;
	width: 280px;
	height: 779px;
	margin-right: 60px;
}

.side-bar-title{
	margin-bottom: 48px;
}

.side-bar-text{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.rande-filter{
	width: 260px;
	margin-bottom: 55px;
}

.range-controls {
	position: relative;
	height: 42px;
	background-color: #eeeeee;
	border-radius: 3px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;

}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	width: 50%;
}

.price-controls input {
	font-size: 16px;
	font-family: "Roboto", "Helvetica", "sans-serif";
	text-align: center;
	color: #283136;
	width: 60px;
	padding: 8px 10px;
	margin-left: 12px;
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.max-price {
	text-align: right;
}

.radio-buttons {
	margin-bottom: 44px;
}

.radio-btn {
	margin-bottom: 15px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: block;
	margin: 15px 0;
	padding-left: 36px;
	position: relative;
	cursor: pointer;
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 1px;
	width: 19px;
	height: 19px;
	border: 3px solid #b8b8b8;
	border-radius: 50%;
}

input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 9px;
	width: 3px;
	height: 3px;
	border: 3px solid #b8b8b8;
	border-radius: 50%;
	background-color: #b8b8b8;
}

input[type="radio"] + label:hover::before {
	border-color: #4d4d4d;
}

input[type="radio"]:checked + label:hover::after {
	border-color: #4d4d4d;
	background-color: #4d4d4d;
}

.titel-checkbox {
	margin-bottom: 15px;
}

.checkbox {
	margin-bottom: 16px;
}

.checkbox-name {
	line-height: 20px;
	color: #283136;
	font-weight: 500;
}

.radio-btn-name{
	line-height: 20px;
	color: #283136;
}

.checkbox-text:hover {
	color: #000;
}

.radio-btn-name:hover {
	color: #000;
}

.checkbox-text: {

}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	margin: 10px 0;
	line-height:;
	padding-left: 36px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 27px;
	height: 23px;
	background-image: url(../img/sprite-icons.png);
	width: 23px;
    height: 23px;
    background-position: -27px -27px;
	opacity: 0.4;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="checkbox"]:checked + label::before {
	background-image: url(../img/sprite-icons.png);
	width: 27px;
    height: 23px;
    background-position: -104px -27px;
	opacity: 1.0;
}

.btn-side-bar {
	display: block;
	width: 260px;
	text-align:center;
	text-decoration: none; 
	text-transform: uppercase;	
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 18px;
	margin-top: 47px;
	padding: 16px 0;
	color: #000;
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.btn-side-bar:hover {
	background-color: #dfdfdf;
}

.btn-side-bar:active {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}


.catalog-right {
	float: left;
	width: 760px;
	margin-bottom: 60px;
	margin-left: 60px;
}

.catalog-nav {
	position: relative;
	float: right;
	min-width: 360px;
	font-size: 0;
	margin-top: 4px;
}

.catalog-assort{
	position: absolute;
	top: -1px;
	left: -6px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.btn-catalog-assort {
	border: 0;
	background-color: transparent;
	text-transform: uppercase;	
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
	cursor: pointer;
	text-transform: uppercase;
	margin-left: 25px;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
}

.btn-catalog-assort:first-child {
	margin-left: 0;
}

.catalog-nav .active {
	color: rgba(0,0,0,1);
}

.btn-catalog-assort:hover {
	color: rgba(0,0,0,0.6);
}

.triangle-btns {
	display: inline-block;
	margin-left: 30px;
	line-height: 1;
	position: relative;
	top: -6px;
}

.btn-triangle {
	position: relative;
	font-size: 0;
	border: 0;
	width: 29px; 
	height: 29px;
	cursor: pointer;
	background-color: white;
	padding: 0;
}

/*
.btn-triangle {
    position: relative;
    font-size: 0;
    border: 0;
    width: 18px;
    height: 20px;
    cursor: pointer;
    background-color: white;
    padding: 0;
    margin-left: 10px;
}  */ 

.down:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0; 
	height: 0;
	transform: translate(-50%, -50%);
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
	border-top: 9px solid rgba(0,0,0,0.2);
	
}

.down:hover::after {
	border-top-color: rgba(0,0,0,0.4);
}

.down:active::after {
	border-top: 9px solid #000000;
}

.up:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0; 
	height: 0;
	transform: translate(-50%, -50%);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 9px solid rgba(0,0,0,0.2);
}

.up:hover::after {
	border-top: 9px rgba(0,0,0,0.4);
}

.up:active::after {
	border-bottom-color: #000;
}


.catalog {
	margin-bottom: 61px;

}

.catalog-text {
	margin-bottom: 54px;
}

.catalog-title {
	display: inline-block;
	vertical-align: top;
}

.catalog-title-text {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-gallery {
	width: 820px;
	float: left;
}
	

.catalog-site {
	display: inline-block;
	height: 617px;
	vertical-align: top;
	margin-right: 37px;
	margin-bottom: 35px;
	position: relative;
}

.catalog-site::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: url(../img/browser.png) no-repeat center top;
	opacity: 0.12;
}

.catalog-site:hover::before {
	opacity: 1;
}

.catalog-site:hover {
	box-shadow: 0 6px 15px rgba();
	border: 1 px;
}

.catalog-site:hover .site-info {
	display: block;
}

.catalog-site:nth-child(3) {
	margin-bottom: 29px;
}

.catalog-site:nth-child(4) {
	margin-bottom: 29px;
}

.catalog-site img {
	margin-top: 40px;
}

.catalog-site:nth-child(5) {
	margin-bottom: 59px;
}

.site-info {
	display: none;
	background-color: rgb(238, 238, 238);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.catalog-site:nth-child(5) .site-info {
	bottom: -8px;
}

.catalog-sitenth-child(6) .site-info {
	bottom: -8px;
}

.site-info-bottom {
	background-color: rgb(238, 238, 238);
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0
}


.site-info-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 27px;
	margin-bottom: 15px;
}

.site-info-text {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: #666666;
	white-space: pre;
	margin-bottom: 0px;
	margin-top: 14px;
	font-weight: 500;
}

.btn-catalog-site {
	display: block;
	width: 200px;
	text-align:center;
	margin-top: 30px;	
	margin-left: 80px;
	margin-bottom: 44px;
	padding:13px 0;
	text-decoration: none; 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	cursor: pointer;

}

.btn-catalog-site:hover {
	background-color: #e74246;
}

.btn-catalog-site:active {
	color: rgba( 255,255,255,0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}		

.btn-pagination {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 7px;
	background-color: #eee;
	border-radius: 3px;
	position: relative;
	text-decoration: none;
	text-align: center;
	padding: 0;
	line-height: 50px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
	font-weight: 500;
}

.pagination .active {
	line-height: 44px;
    border: 3px solid #dbdbdb;
	background-color: #fff;
}

.btn-pagination:not(.active):hover {
	background-color: #dfdfdf;
}

.btn-pagination:not(.active):active {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.btn-pagination-text {
	display: inline-block;
	width: 260px;
    border-radius: 3px;
	background-color: #eeeeee;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	padding: 13px 0px;
	cursor: pointer;
	font-weight: 500;
}

.btn-pagination-text:hover {
	background-color: #dfdfdf;
}

.btn-pagination-text:active {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}