body{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto", "Helvetica", "sans-serif";
	color: rgb (0, 0, 0);
	line-height: 24px;
}

.titel-text{
	font-size: 55px;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto", "Helvetica", "sans-serif";
	color: rgb (0, 0, 0);
	line-height: 55px;
}

h2{
	font-size: 45px;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto", "Helvetica", "sans-serif";
	color: rgb (0, 0, 0);
	line-height: 45px;
}

.main-header{
	background-color: rgb(238, 238, 238);
}
.basket{
	background-image: url("403445-nerds/img/cart-icon.png");
}
.slider-1{
	width: 1200px;
	height: 413px;
	background-image: url("/img/slider1.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}